<div class="row-fluid">
  <div class="span4 offset4 well">
    <h2 class="text-center">Contact Us</h2>
    <br/>
    <div class="text-center">
      <span class="text:bold">Lisa Baird-Conklin:</span> <a href="mailto:lisa@bairdconklinmusic.com">lisa@bairdconklinmusic.com</a><br/>
      <span class="text:bold">Thomas Conklin:</span> <a href="mailto:tom@bairdconklinmusic.com">tom@bairdconklinmusic.com</a><br/>
    </div>
    <br/>
    <a href="javascript:history.go(-1)">Back</a>
  </div>
</div>
