<div class="row-fluid">
  <div class="span8 offset2 well" style="overflow: auto;">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Music for Church, School, Home, and Liturgy</h2>
    <br/>
    <div class="row-fluid">
      <div class="span6">
        <h4 class="text-center">Thank you for visiting our site</h4>
        <p>We have public-domain music, arrangements, and original music composed, arranged, and edited by Lisa Baird-Conklin and 
        Thomas Conklin. Much of the music here is free to download in PDF form while other pieces 
        may be purchased. We can also provide customizations and
        write commissioned pieces specifically suited to your needs for an additional fee.</p>
        <br/>
        <h4 class="text-center">What's New?</h4>
        <p>Compositions are now searchable using the search field and browse link on the top menu bar.  You can view printed music and listen to recordings.
           It is not necessary to create an account, but having an account will allow you to purchase music later once that functionality 
           is implemented and give you unlimited access to purchased music.
        </p>
        <br/>
        <h4 class="text-center">Coming Soon</h4>
        <p>We will be adding sorting and pagination to search results and uploading many more compositions soon.
        </p>
      </div>
      <div class="span6">
        <img src="assets/circle_staff.jpg"/>
      </div>
    </div>
    <br/>
    <% if @current_user.blank? %>
      <div class="row-fluid text-center">
        <a href="<%=new_user_path%>">Create Account</a> |
        <a href="<%=login_users_path%>">Sign In</a>
      </div>
    <% end %>
  </div>
  <div class="span2 text-center">
    <%= render 'shared/other_websites' %>
  </div>
</div>
