<div class="row-fluid">
  <div class="span8 offset2 well">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Baird-Conklin Math</h2>
    <div class="row-fluid">
      <div class="span6">
        This site is currently under construction.
      </div>
      <div class="span6">
        <img src="assets/mathheart.jpg"/>
      </div>
    </div>
  </div>
</div>
