<h4>Our Other Websites</h4>
<a href="/bairdconklinmath">Baird-Conklin Math</a><br/>
<a href="http://muchadopodcast.com">Much Ado Podcast</a><br/>
<a href="http://thomasalanconklin.blogspot.com">Stuff I Think About</a>
