<div class="row-fluid">
  <div class="span6 offset3 well">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Reversi</h2>
    <a href="javascript:void(0);" onclick='newGame();'>new</a> | 
    <a href="javascript:void(0);" onclick='undo();'>undo</a> | 
    <a href="javascript:void(0);" onclick='redo();'>redo</a> | 
    <a href="javascript:void(0);" onclick='randomMove();'>random move</a> | 
    <a href="javascript:void(0);" onclick='maxFlips();'>max flips</a> | 
    <a href="javascript:void(0);" onclick='bestPosition();'>best position</a> | 
    <a href="javascript:void(0);" onclick='heuristic();'>heuristic</a> | 
    <a href="javascript:void(0);" onclick='minimax();'>minimax</a>
    <br>
    <br/>
    <div class='message text-center' id='message'>&nbsp;</div>
    <div class='error text-center' id='alertMessage'>&nbsp;</div>
    <div class="text-center">
      <canvas id="myCanvas" width="400" height="400" style="border:2px solid #000000;"></canvas>
    </div>
    <div class='message text-center' id='score'>&nbsp;</div>
    <%= link_to 'back', '/bairdconklinmath' %>
  </div>
</div>
<script>
initReversi();
</script>

