<div class="row-fluid">
  <div class="span6 offset3 well" style="overflow: auto;">
    <%= render :partial => 'shared/flash_messages'%>
    <h1 class="text-center">Reversi</h1>
    <button class="btn btn-success" type="button" onclick="newGame();">new game</button>
    <button class="btn btn-warning" type="button" onclick="undo();">undo</button>
    <button class="btn btn-danger" type="button" onclick="undo2();">undo x 2</button>
    <button class="btn btn-info" type="button" onclick="redo();">redo</button>
    <button class="btn btn-primary" type="button" onclick="redo2();">redo x 2</button><br/>
    <strong>opponent:</strong> 
    <input type="radio" name="opponent" id="white" onclick="selectOpponent(1);" value="1"/> white
    <input type="radio" name="opponent" id="black" onclick="selectOpponent(-1);" value="-1" checked/> black
    <input type="radio" name="opponent" id="human" onclick="selectOpponent(0)" value="0"/> human
    <select id="level" onchange="selectLevel()">
      <option value="1">level 1 - newbie</option>
      <option value="2">level 2 - amateur</option>
      <option value="3">level 3 - pro </option>
      <option value="4">level 4 - expert</option>
      <option value="5">level 5 - master</option>
    </select>
    <br/>
    <br/>
    <div class='message text-center large-text' id='message'>&nbsp;</div>
    <div class='error text-center large-text' id='alertMessage'>&nbsp;</div>
    <div class="text-center">
      <canvas id="myCanvas" width="400" height="400" style="border:2px solid #000000;"></canvas>
    </div>
    <div class='message text-center large-text' id='score'>&nbsp;</div>
    <%= link_to 'back', '/bairdconklinmath' %>
  </div>
</div>
<script>
initReversi();
</script>

