<div class="row-fluid">
  <div class="span8 offset2 well">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Prime Number Generator</h2>
      <table style="table">
        <tr>
          <td>Lower Limit <input id="lowerLimit" type="text" width=5/></td>
        </tr>
        <tr>
          <td>Upper Limit: <input id="upperLimit" type="text" width=5/></td>
        </tr>
        <tr>
          <td style="text-align: left;"><input type="button" value="Find Primes" onclick="getPrimes();"/></td>
        </tr>
        <tr>
          <td id="results">&nbsp;</td>
        </tr>
      </table>
  </div>
</div>
<script>
function getPrimes() {
  var upperLimit = document.getElementById('upperLimit').value;
  var lowerLimit = document.getElementById('lowerLimit').value;
  var errors = '';
  if (!isNumeric(lowerLimit)) {
    errors = errors + 'Lower Limit must be a number\n';
  }
  if (!isNumeric(upperLimit)) {
    errors = errors + 'Upper Limit must be a number\n';
  }
  if (isNumeric(lowerLimit) && isNumeric(upperLimit)) {
    if (parseInt(lowerLimit) >= parseInt(upperLimit)) {
      errors = errors + "Upper Limit must be greater than Lower Limit\n";
    }
    if (parseInt(upperLimit) > 100000) {
      errors = errors + "Upper Limit must be less than 1000000\n";
    }
    if (upperLimit - lowerLimit > 200) {
      errors = errors + "Range must be 200 or less\n";
    }
  }
  if (errors.length > 0) {
    alert(errors);
  } else {
    findPrimes(upperLimit, lowerLimit);
  }
}

function isNumeric(input) {
    return (input - 0) == input && input.length > 0;
}

function findPrimes(upper, lower) {
  var primes = new Array();
  var sieve = new Array();
  for (var i=2; i<upper; i++) {
    primes[i-2] =  i;
  }
  var sqrtUpper = Math.floor(Math.sqrt(upper)+1);
  for (var i=2; i<sqrtUpper; i++) {
    sieve[i-2] = i;
  }
  while (sieve.length > 0) {
    for (var i=1; i<primes.length; i++) {
      if (primes[i]%sieve[0]==0) {
        primes.splice(i, 1);
        i--;
      }
    }
    sieve.splice(0, 1);
  }
  while (primes[0] < lower) {
    primes.splice(0, 1)
  }
  printPrimes(primes);
}

function printPrimes(primes) {
  var results = '';
  for (var i=0; i<primes.length; i++) {
    if (i==primes.length-1) {
      results = results + primes[i];
    } else {
      results = results + primes[i] + ',';
      if (i!=0 && i%10 == 0) {
        results = results + '\n'
      }
    }
  }
  alert(results);
}
</script>

