<div class="row-fluid">
  <div class="span8 offset2 well" style="overflow: auto;">
    <%= render :partial => 'shared/flash_messages'%>
    <h2 class="text-center">Prime Number Generator</h2>
      <table style="table">
        <tr>
          <td>Lower Limit <input id="lowerLimit" type="text" width=5/></td>
        </tr>
        <tr>
          <td>Upper Limit: <input id="upperLimit" type="text" width=5/></td>
        </tr>
        <tr>
          <td style="text-align: left;"><input type="button" value="Find Primes" onclick="getPrimes();"/></td>
        </tr>
        <tr>
          <td id="results">&nbsp;</td>
        </tr>
      </table>
      <%= link_to 'back', '/bairdconklinmath' %>
  </div>
</div>