<div class="row-fluid">
  <div class="span8 offset2 well">
    <h2 class="text-center">Manage Files</h2>
    <div class="controls text-right">
      <%= link_to "cancel", "/" %>
      <%= link_to "Upload File", "/", :class => "btn btn-primary" %>
    </div>
  </div>
</div>
