<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Baird-Conklin Music</a>
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <ul class="nav pull-left">
      <li><a href="#">Browse</a></li>
    </ul>
    <ul class="nav pull-right">
      <li><a href="#">Login</a></li>
    </ul>
  </div>
</div>