<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%=root_url%>">Baird-Conklin Music</a>
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <ul class="nav pull-left">
      <li><a href="#">Browse</a></li>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Account
         <% end %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%=new_user_path%>">Create</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>